

.accolades-section { 
    position: relative;
    /* top: 60pt; */
    margin-bottom: 50pt;
}

.accolades-title { 
    font-size: 22pt; 
    /* margin: 20pt;  */
}

.accolades-cards { 
    display: flex;
    flex-flow: row nowrap;
    /* flex-flow: column nowrap; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    align-items: center;
}

.accolade { 
    flex: 1 1 0px; 
    margin: 20pt; 
    max-width: 350pt;
    line-height: 18pt;
}

.accolade-description { 
    font-size: 17pt; 
    line-height: 28pt;
    color: white; 
    padding-left:15pt;
    padding-right:15pt;
    padding-top:20pt;
    padding-bottom:5pt;
}

.accolade-author { 
    color: rgb(226, 218, 228);;
}

.accolade-bottom { 
    line-height: 21pt;
    font-size: 13pt; 
    padding: 10pt; 
    padding-top: 8pt;
    padding-bottom: 8pt;
}

.accolade-link { 
    text-decoration: underline; 
}

.accolade-bottom:hover .accolade-link { 
    text-decoration: none; 
}

@media screen and (max-width:850px) {

    .accolades-title { 
        font-size: 18pt; 
        margin: 10pt; 
    }

    .accolades-cards { 
        /* display: flex; */
        flex-flow: column nowrap;
        /* justify-content: flex-end; */
        /* align-items: center; */
    }

    .accolade { 
        width: 240pt;
    }
}