.accolades-section { 
    position: relative;
    top: 100pt;
    color: white;    
    display: flex;
    justify-content: center;
}

.accolades-title { 
    font-size: 22pt; 
    margin: 20pt; 
    /* margin-top: 40pt; */
}    

#accolades1 { 
    display: initial;
}

#accolades2 { 
    display: none;
}

.accolades-cards { 
    display: flex;
    flex-flow: row nowrap;
    /* flex-flow: column nowrap; */
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    align-items: center;
}

.accolade { 
    flex: 1 1 0px; 
    background-color: white;
    border-radius: 4pt;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.32);
    margin: 20pt; 
    max-width: 300pt;
    max-height: 200pt;
    line-height: 18pt;
}

.accolade a { 
    color: rgb(122, 62, 244);
}

.accolade a:hover { 
    color: rgba(77, 0, 230, 0.397);
}

.accolade-description { 
    font-size: 14pt; 
    line-height: 24pt;
    color: rgb(126, 126, 126);
    padding-left:15pt;
    padding-right:15pt;
    padding-top:20pt;
    padding-bottom:20pt;
}

.accolade-author { 
    color: rgb(75, 75, 75);
    
}

.accolade-bottom { 
    padding: 10pt; 
    padding-top: 8pt;
    padding-bottom: 8pt;
    background-color: rgba(55, 0, 255, 0.036);
}

.accolade-link { 
    /* font-weight: bold; */
}

@media screen and (max-width:850px) {
    
    #accolades1 { 
        display: none;
    }

    #accolades2 { 
        display: initial;
    }

    .accolades-section { 
        position: initial;
    }

    .accolades-title { 
        font-size: 18pt; 
        margin: 10pt; 
        /* margin-top: 40pt; */
    }

    .accolades-cards { 
        /* display: flex; */
        flex-flow: column nowrap;
        /* justify-content: flex-end; */
        /* align-items: center; */
    }

    .accolade { 
        width: 240pt;
    }
}