

body {
    color: white; 
}

#welcome-section {
    height: auto; 
}

#main-contents { 
    margin-top: 80px; 
    margin-bottom: 80px; 
    height: auto;  
    
}

#title h3 { 
    margin-top: 100px; 
    margin-bottom: 25px;
    color: white;
    font-size: calc(10px + 4vmin);
}

#main-body h1 {
    margin-top: 20px;
    font-size: calc(15px + 1vmin);
    line-height: calc(15px + 2vmin);
    font-weight: normal;
}

#main-body a { 
    font-size: calc(15px + 1vmin);
    line-height: calc(15px + 2vmin);
    text-decoration-line: underline;
}

#main-body a:hover { 
    text-decoration-line: none;
    color: lightgray;
}

#email-title { 
    padding-top: 140px; 
}

#main-body form { 
    margin: auto; 
    margin-top: 20px; 
    max-width: 400px;
}

#main-body form * { 
    margin: 15px; 
    width: 300px; 
}

#submit { 
    height: 40px; 
}

#bottom-background { 
    min-height: 50vh; 
}