html {
    background: linear-gradient(to bottom right, rgb(0, 139, 248), rgb(220, 0, 115));
    background-attachment: fixed;
    cursor: default;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    overflow-x: hidden;
}

.button:focus {
    outline: 0 !important;
  }

#welcome-section {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#navbar-container {
    z-index: 99;
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background-color: rgba(77, 77, 77, 0.461);
    font-size: 20pt;
}

#app-title { 
    float: left; 
   position: relative;
   left: 40px;
   top: 7px; 
}

#app-title-image { 
   position: relative;
   height: auto;
   width: 38px;
   top: 10px;  
   left: 10px; 
}

#navbar {
   padding: 20px;
   width: 100%;
   margin: auto;
}

#navbar ul {
   text-align: right;
   list-style: none;
}

#navbar ul a:hover {
   opacity: 0.5;
} 

#navbar li {
   display: inline-block;
   margin-left: 50px;
   margin-right: 50px;
}

#navbar-container a {
    color: white;
    text-decoration: none;
}

#welcome-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5pt;
    font-size: calc(30px + 7vmin);
    margin-bottom: 25px;
}

#welcome-section h3 {
    margin-top: 0;
    font-size: calc(10px + 4vmin);
}

#background-container {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    float: left;
}

#background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#title-background {
    position: static;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    width: auto;
    height: 100%;
    filter: grayscale(10%) brightness(35%);
}

.icon {
    font-size: calc(10px + 5vmin);
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    transition: all 0.15s ease-out;
}

.icon:hover {
    transform: scale(1.15, 1.15);
}

#portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    color: rgb(57, 57, 57);
    font-size: calc(15px + 5vmin);
}

#projects {
    padding: 50px;
    padding-top: 10px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
}

.project-tile {
    color: rgb(34, 34, 34);
    line-height: 18pt;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 25px;
    background: rgb(227, 227, 227);
    border-radius: 7px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-image {
    margin: 20px;
    height: auto;
    width: 240px;
    min-width: 200px;
    border-radius: 15px;
    transition: all .15s ease-out;
}

.project-image:hover {
    transform: scale(1.05, 1.05);
}

.project-description {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 260px;
    min-width: 200px;
}

.project-description-list {
    text-align: left;
    margin: auto;
    margin-top: 25px;
    width: 240px;
    min-width: 200px;
}

.appstore-button {
    border: none;
    background: none;
    transition: all .05s ease-out;
}

.appstore-button:hover {
    filter: invert(1);
}

.appstore-button img {
    width: 180px;
    height: auto;
}

.project-button {
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 180px;
    height: 55px; 
    font-size: 15pt;
    border: none; 
    cursor: pointer;
    color: black; 
    background: white; 
    transition: all .15s ease-out;
}

.project-button p {
    font-weight: bold;
}

.project-button:hover {
    background: rgb(186, 186, 186);
}

.project-button:active {
    color: white;
    background: rgb(186, 186, 186);
}

#blog-link {
    color: blue;
}

#blog-link:hover {
    opacity: 0.5;
}


#contact {
    margin-top: 25px;
    min-height: 150px;
    background-color: rgba(77, 77, 77, 0.461);
}

#contact div {
    position: relative;
    top: 60px;
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row nowrap;
}

#contact a {
    text-decoration: none;
    color: white;
    font-size: 22pt;
    vertical-align: center;
    display: flex;
    align-items: center;
}

#contact a:hover {
    opacity: 0.7;
}

#bottom-background { 
    background-color: rgba(77, 77, 77, 0.461);
    overflow-y: hidden;
    padding-top: 20px; 
    padding-bottom: 40px; 
}

@media screen and (max-width:900px) {
    #app-title { 
        
    }

    #navbar a, #app-title {
        font-size: 16pt;
    }
    #navbar li {
        margin-left: 20px;
    }
    #contact a {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16pt;
    }
}

@media screen and (max-width:700px) {
    
    #app-title { 
        left: 20px;
    }

    #navbar {
        padding-left: 0px;
        padding-right: 0px;
    }
    #contact {
        min-height: 150px;
        background-color: rgba(77, 77, 77, 0.461);
    }
    #contact div {
        position: static;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-flow: column nowrap;
    }
    #contact a {
        text-decoration: none;
        color: white;
        font-size: 14pt;
        text-align: center;
        vertical-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:600px) {
    #navbar li, #app-title { 
        font-size: 14pt;
    }
    #navbar li {
        margin-left: 10px;
        margin-right: 15px;
    }
}